# Database Configuration
POSTGRES_USER=wa-send-v2
POSTGRES_PASSWORD=wa-send-v2
POSTGRES_DB=wa-send-v2
DATABASE_URL=postgresql://wa-send-v2:wa-send-v2@db:5432/wa-send-v2?schema=public

# Security Settings
JWT_SECRET=your-super-secret-key-change-this-in-production
